* {
	font-family: 'Press Start 2P', cursive;
}

body {
	background-color: #212529;
}

a {
	color: #d3d3d3;
}

a:hover {
	color: #ffffff;
}

.nes-btn:focus {
	color : rgb(33, 37, 41);
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100vh;
}

#main {
	grid-column: 1;
	grid-row: 1 / span 3;
	overflow: hidden auto;
}

#feed {
	position: relative;
	height: 100%;
	width: 100%;
}

#count-floor {
	float: right;
}

.msg, .txt {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.txt {
	text-align: center;
}

#panel-stats {
	grid-column: 2;
	grid-row: 1 1;
	overflow: hidden auto;
}

#panels {
	grid-column: 2;
	grid-row: 2 / span 2;
	overflow: hidden auto;
}

.panel {
	overflow: auto;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.panel-default-text {
	text-align: center;
}

#menu {
	margin: 0.5rem 0;
}

.nav-panel {
	padding: 0.5rem;
}

.nav-selected {
	color: #212529;
	background-color: #ffffff;
}

.nav-selected:hover {
	color: #212529;
}

.nes-table-responsive{
	overflow: visible !important;
}

.is-hero {
	color: #48e895;
}

.is-old-man {
	color: #af70ff;
}

.is-highlight {
	color: #ff964e;
}

.optionsBetweenStage-list {
	list-style: none;
	text-align: left;
}
